web/public/codec.js     linguist-generated=true
web/public/codec.wasm   linguist-generated=true
web/public/hello.js     linguist-generated=true
web/public/hello.wasm   linguist-generated=true
deps/**                 linguist-vendored=true